* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-logo {
  color: white;
  padding-top: 5px;
}

.navbar {
  color: white;
  justify-content: center;
}

.navbar-right {
  color: white;
  justify-content: end;
}

.navbar-toggler {
  justify-content: end;
}

a.navbar-brand {
  padding-left: 0.5rem;
}

.navbar.fixed-top {
  z-index: 1030; /* Bootstrap's default z-index for fixed-top navbars */
}

header {
  background-color: black;
  color: white;
}

h2:not(.header_h2) {
  text-decoration: underline;
}

img {
  /* color: black; */
  /* outline-style: double; */
  object-fit: cover;
  width: auto;
}

img.img {
  max-height: 100px;
}

figure {
  display: inline-block;
}
figcaption {
  font-style: italic;
  color: gray;
  text-align: center;
}

/* Additional styles for the button if needed */
.newsletter-form button[type="submit"] {
margin-left: 75px; 
margin-top: 10px;

}

.footer {
  background-color: black;
  color: white;
}

.footer-content-row {
  margin-top: -20px; /* Adjust the value as needed */
}

.footer-content-row > div {
  /* Ensures that content is evenly spaced and centered within their columns */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Ensure the columns are equal height */
}

.footer .container {
  padding-top: 0; /* Remove padding at the top */
}

.end-of-footer {
  margin-bottom: -50px;
}
.footer .footer-links {
  display: flex;
  justify-content: flex-end;
}

.footer .footer-links {
  padding-left: 0;
}

.footer .list-inline-item {
  margin-left: 0; /* Adjust as needed */
}

.list-inline.footer-links a,
.list-inline.footer-links a i {
  color: white !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by defau            lt */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .cart .quantity input,
  .cart .price {
    text-align: left;
  }

  .cart .remove {
    display: block;
    margin-top: 10px;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
}

.formcontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px;
  border-radius: 10px;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details h2 {
  margin-top: 0;
}

.product-details .description {
  margin-bottom: 15px;
}

.product-details .price {
  font-weight: bold;
}

.product-details button {
  width: 100%;
}

.product-details .details {
  margin-top: 20px;
}

.btn-smaller {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.cookieImg {
  width: 50px;
  height: 50px;
}

/* User Profile CSS*/
.userprofile.container {
  margin: 0 auto;
}

.userprofile {
  max-width: fit-content;
  margin-inline: auto;
}

.usermenu {
  width: 204px;
  height: 350px;
  float: left;
  margin: 10px;
}

.user-container {
  border: 2px solid grey;
}

.userinfo {
  width: 600px;
  margin: 10px;
  min-height: 500px;
  display: inline-block;
  border: 2px solid grey;
}

.userprofile-header {
  font-weight: bold;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

#navigation li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#navigation li a:hover {
  background-color: #555;
  color: white;
}

#ordertable {
  border-collapse: collapse;
  width: 100%;
}

#ordertable th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.submitbtn {
  color: white;
  background-color: black;
  text-align: center;
  width: 200px;
  padding: 5px;
}

.review-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.review-text {
  font-size: 16px;
  line-height: 1.5;
}

.review-timestamp {
  font-style: italic;
  color: #888;
  font-size: 14px;
}

.review-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

/*Cart CSS*/

.content-wrapper {
  width: 65.625rem; /* 1050px / 16px */
  margin: auto;
}

.cart h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 2.5rem 0;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.cart h2 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 1.25rem 0;
  font-size: 1.125rem;
  text-align: center;
  width: 100%;
}

.cart table {
  width: 100%;
  overflow-x: auto;
}

.cart table,
.cart th,
.cart td {
  border-collapse: collapse;
}

.cart table thead td {
  padding: 1.875rem 0;
  border-bottom: 1px solid #eeeeee;
}

.cart table thead td:last-child {
  text-align: right;
}

.cart table tbody td {
  padding: 1.25rem 0;
  border-bottom: 1px solid #eeeeee;
}

.cart table tbody td:last-child {
  text-align: right;
}

.cart table .img {
  width: 5rem;
}

.cart table .remove {
  color: #333333;
  font-size: 0.75rem;
  padding-top: 0.1875rem;
}

.cart table .remove:hover {
  text-decoration: underline;
}

.cart table .price {
  color: #000000;
}

.cart table a {
  text-decoration: none;
  color: #555555;
}

.cart table input[type="number"] {
  width: 4.25rem;
  padding: 0.625rem;
  border: 1px solid #ccc;
  color: #555555;
  border-radius: 0.3125rem;
}

.cart .subtotal {
  text-align: right;
  padding: 2.5rem 0;
}

.cart .subtotal .text {
  padding-right: 2.5rem;
  font-size: 1.125rem;
}

.cart .subtotal .price {
  font-size: 1.125rem;
  color: #000000;
}

.cart .buttons {
  text-align: right;
  padding-bottom: 2.5rem;
}

.cart .buttons input[type="submit"] {
  margin-left: 0.3125rem;
  padding: 0.75rem 1.25rem;
  border: 0;
  background: #9d6525;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3125rem;
}

.cart .buttons input[type="submit"]:hover {
  background: #61401b;
}

.buttons .cart-back-btn {
  display: inline-block;
  margin-left: 0.3125rem;
  padding: 0.75rem 1.25rem;
  border-color: #000000;
  background: #4a4a4a;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3125rem;
  text-align: center;
  text-decoration: none;
}

.buttons .cart-back-btn:hover {
  color: #ffffff;
  text-decoration: none;
  background: #20262e;
}

.placeorder h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 2.5rem 0;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
.placeorder p {
  text-align: center;
}

.card-logos {
  display: flex;
}

.payment-logo {
  cursor: pointer;
  height: 1.875rem;
  width: auto;
}

.input-group {
  position: relative;
}

.card-icon {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
}

.position-relative {
  position: relative;
}

.card-logo {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  height: 1.25rem;
  display: none; /* Hide initially */
}

.card-number-container input:focus + .card-logo,
.card-number-container input:valid + .card-logo {
  display: block; /* Show logo on input focus or when the input is valid */
}

.invalid-message {
  color: #ff0000;
}

.hidden {
  display: none;
}

.summary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.order-summary-back-btn {
  display: inline-block;
  margin-left: 0.3125rem;
  padding: 0.75rem 1.25rem;
  border-color: #000000;
  background: #4a4a4a;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3125rem;
  text-align: center;
  text-decoration: none;
}

.order-summary-back-btn:hover {
  color: #ffffff;
  text-decoration: none;
  background: #20262e;
}

.btn-success {
  background-color: #196719 !important; 
}

.btn-primary {
  background-color: #0053B3 !important; 
}

.table_container {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 600px;
  max-width: 1320px;
}

section[aria-labelledby="carouselHeading"] {
  margin-top: 0 !important;
  padding-top: 0 !important;
}


.banner-area {
  background-image: url(../images/uniqlo1.PNG);
  background-size: cover;
  background-position: center center;
  position: relative;
  /* This will keep the banner in the normal document flow */
  width: 100vw;
  text-decoration: none;
}

.banner-area h2 {
  text-decoration: none;
  /* This will remove the underline */
  position: absolute;
  top: 140px;
  /* Adjust this value to move the text down */
  left: 340px;
  width: 100%;
  text-align: left;
}

.banner-area .second-line {
  margin-top: 1.5em;
  /* Adjust the space between the two lines */
}

.scroll-indicator {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.dot {
  display: block;
  height: 10px;
  width: 10px;
  background-color: #ccc;
  margin: 5px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

.carousel-caption {
  position: absolute;
  /* Position the caption absolutely within its container */
  top: 50%;
  /* Adjust this value to move it from the top down to where the arrow points */
  left: 30%;
  /* Center horizontally, then use transform to adjust precisely */
  transform: translate(-50%, -50%);
  /* Adjusts the positioning to be centered to the given top and left values */
  display: inline-block;
  background-color: transparent;
  /* Keep the background transparent */
  color: #fff;
  /* White text for contrast */
  padding: 10px 20px;
  font-size: 2em;
  text-decoration: none;
  /* No underline */
  font-weight: bold;
  transition: color 0.3s;
  /* Smooth transition for hover effect */
  border: 2px solid transparent;
  /* Maintain the button size on hover */


}

.carousel-caption h2 {
  text-decoration: none;
  /* Ensures no underline */
  font-size: 25px;
}

.carousel-caption h3 {
  margin-left: -30px;
}

.second-line {
  margin-right: 240px;
}


.shop-now-carousel {
  align-items: center;
  background-clip: padding-box;
  background-color: #f3f3f3;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #050505;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-left: calc(-350px);
  background-color: rgba(255, 255, 255, 0.7);
  /* White with 80% transparency */
  color: #050505;
  /* This is the text color; adjust if needed */
  left: 9%;
}

.shop-now-carousel:hover,
.shop-now-carousel:focus {
  background-color: #080808;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.shop-now-carousel:hover {
  transform: translateY(-1px);
}

.shop-now-carousel:active {
  background-color: #080808;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.carousel-item.active,
.carousel-item h2,
.carousel-item h3 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* Replace with the actual font family used */
  font-size: 18px;
  /* Adjust as needed */
  font-weight: bold;
  /* Or 700, depending on the font */
  color: #ffffff;
  /* Or the exact color code used in the second image */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* Optional, for better legibility */
  letter-spacing: normal;
  /* Adjust if necessary */
  text-transform: none;
  /* Use uppercase if needed */
}


.carousel-item img {
  width: 100%;
  /* You can set a specific width instead of 100% if needed */
  height: 500px;
  /* Set a fixed height */
  object-fit: cover;
  /* This will cover the area without stretching the image */
}

/* For changing the background color */
.navbar {
  background-color: black !important;
  /* Replace #yourColorCode with your desired color */
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Josefin_Sans variant0';
}


/* If you want to change the text color of the navbar links */
.navbar .navbar-nav .nav-link {
  color: white !important;
  /* Replace #yourLinkColor with your desired color */
}

/* For changing the color of the navbar brand */
.navbar .navbar-brand {
  color: #fdfbfb !important;
  /* Replace #yourBrandColor with your desired color */
}

.navbar-nav .nav-item:not(:last-child) {
  position: relative;
  padding-right: 15px;
  /* Add space for the separator */
}

.navbar-nav .nav-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  /* Height of the line */
  width: 2px;
  /* Width of the line */
  background-color: #0c0c0c;
  /* Color of the line */
}


.navbar-center {
  display: flex;
  justify-content: center;
  transform: translateX(20.5%);
  /* Adjust the pixel value as needed to align with 'SHIRTS' */
}

.header {
  padding-top: 60px;
  /* Increase padding to push content down */
  background-color: #281b0d;
  /* Light grey background */

  /* ... other styles ... */
}

.header-logo {
  display: inline-block;
  font-size: 4rem;
  /* Adjust the size of the laundry icon */
  color: black;
  /* Color for the icon, change as needed */
  text-align: center;
  margin-bottom: 0;
}

.header-logo .material-symbols-outlined {
  display: block;
  /* Ensure the icon is on its own line */
  margin: 0 auto;
  /* Center the icon horizontally */
  font-size: 3rem;
  /* Adjust this to change the size of the icon */
  margin-left: -5px;

}

.header-title {
  font-size: 2.5rem;
  /* Adjust the size of the title 'SHIRTS' */
  color: black;
  /* Color for the title, change as needed */
  margin-top: 0.5rem;
  /* Space between the icon and the title */
  font-weight: bold;
  letter-spacing: 2px;
  /* Optional: to style the title */
  font-family: "Josefin_Sans variant0";
  text-decoration: none !important;
}

.header-subtitle {
  font-size: 1rem;
  /* Adjust the size for the subtitle */
  color: black;
  /* Color for the subtitle, change as needed */
  margin-top: -5px;
  /* Space between the title and the subtitle */
  font-weight: normal;
  letter-spacing: 1px;
  /* Optional: to style the subtitle */
  font-family: "Josefin_Sans variant0";
}

/* To center the header content vertically */
.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  /* This will make the header take the full viewport height */
  padding-bottom: 0;
  /* Reduced from py-4 to 1rem */
}

.social-icons {
  position: absolute;
  top: 20px;
  /* Adjust the distance from the top as necessary */
  right: 20px;
  /* Adjust the distance from the right as necessary */
  font-size: 1.5rem;
  /* Size of the icons */

}

/* Style individual icons if needed */
.social-icons i {
  color: black;
  /* Icon color, adjust as needed */
  padding: 0 10px;
  /* Space between icons */
  cursor: pointer;
  /* Changes the cursor to a pointer on hover */
}

/* Hover effect for icons */
.social-icons i:hover {
  color: #555;
  /* Color when hovered, adjust as needed */
}

.header-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

body {
  background-color: white;
  /* This is a shade of grey. Adjust the color as needed */
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  /* Your font family here */
}

.custom-footer-bg {
  background-color: #C2A98F;
}


/* .footer h5 {
  margin-top: 20px; 
  color: #000000;
  font-weight: bold;
}

.footer .list-unstyled a {
  color: #181818; 
  text-decoration: none;
}
.footer .list-unstyled a:hover {
  color: #faf8f8; 
}

.footer ul, .footer p {
  padding-top: 10px;
}

main {
  padding-bottom: 50px;
}

html, body {
  min-height: 100%; 
  position: relative; 
  margin: 0; 
  padding: 0; 
}

.footer .fa-brands {
  font-size: 40px; 
  color: black;

}

.footer .btn-primary {
  color: white;
  background-color: black;
  border-color: black;
} */

.about-us {
  margin-top: 50px
}

.about-us h2 {
  text-decoration: underline;

  /* Add more styling for your heading */
}

.about-us p {
  text-align: justify;
  /* Style your paragraph text here */
}


figcaption {
  color: #000000;
  /* changed from #808080 to black for higher contrast */
  background-color: white;
  /* assuming you want to keep this background color */
  /* ...other styles... */
}


/* Reset padding for the row, use Bootstrap's container for consistent padding */
.row {
  margin-right: 0;
  margin-left: 0;
}

/* Adjust padding for the content within the "Contact Us" column */
.contact-us-info {
  padding-left: 15px;
  /* Align with the image above, adjust value as needed */
}

/* Style for iframe to ensure it fits well within its grid column */
.custom-iframe-position iframe {
  width: 105%;
  height: 100%;
  /* Or set a fixed height if preferred */
  border: 0;
}

/* Ensure that the image in the "About Us" section has no additional left margin */
.about-us .img-fluid {
  margin-left: 0;
  width: 100%;
  /* It should be responsive */
  height: auto;
}

.container-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #ffffff 10%, #ecebeb 45%, #d9d9d9 50%, #353535 55%, #070707 80%);
  padding: 50px;
}

.text-container {
  flex-basis: 50%;
  padding-right: 2%;
  /* Creates a gutter between text and images */
}

.image-container {
  flex-basis: 50%;
  position: relative;
  /* Set the positioning context for the absolutely positioned images */
  height: 400px;
  /* Set a fixed height or as needed for the images to align properly */
}

.image {
  width: 250px;
  /* Set width as required */
  height: auto;
  /* Maintain aspect ratio */
  position: absolute;
  /* Position images absolutely within their container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* First image, positioned normally at the bottom */
.image:nth-of-type(1) {
  right: 50%;
  /* Adjust as needed */
  bottom: 0;
}

/* Second image, positioned higher */
.image:nth-of-type(2) {
  right: 30%;
  /* Adjust as needed */
  top: 0;
}

/* Third image, you can add this if you have a third image */
.image:nth-of-type(3) {
  right: 10%;
  /* Adjust as needed */
  bottom: 50px;
  /* Adjust as needed for staggered effect */
}

#unique-button {
  background-color: #0a0a0a;
  /* Bootstrap primary blue */
  color: white;
  /* Text color */
  border: none;
  /* No border */
  padding: 10px 20px;
  /* Padding */
  text-align: center;
  /* Center text */
  text-decoration: none;
  /* No underline */
  display: inline-block;
  /* Inline block level */
  font-size: 16px;
  /* Text size */
  margin: 4px 2px;
  /* Margin */
  cursor: pointer;
  /* Pointer cursor */
  border-radius: 4px;
  /* Rounded corners */
  transition: background-color 0.3s;
  /* Color transition */
}